:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --hover-color: #fe8b00;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.body-bg {
    background: var(--bg-color);
    width: 100%;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/*----------------------NAVBAR STYLES---------------------*/
.navbar-custom {
    background-color: #ffffff;
    height: 4rem;
    line-height: 1rem;
    box-shadow: 0px 2px 7px rgb(254 139 0 / 0.50);
    width: 100%;
}

.navbar-links {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    right: 29rem;
    top: 2rem;
}

.navbar-content {
    display: flex;
    justify-content: space-between; /* Align items at the beginning and the end */
    align-items: center; /* Center vertically */
}

.navbar-links li {
    display: inline;
    margin-right: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.5s ease;
}

.navbar-links a:hover {
    color: var(--hover-color);
}

.logo {
    width: 6rem; 
    height: 3.25rem; 
    position: absolute; 
    left: 3rem;
    top: 0.75rem;
}

.cart-img {
    top: 1.25rem;
    position: absolute;
    width: 2.5rem;
    height: 2rem;
    right: 6rem;
}

.profile-img {
    top: 1.25rem;
    position: absolute;
    width: 2rem;
    height: auto;
    right: 3.5rem;
}


footer {
    background-color: #5e4e4e; 
    color: #fff; 
    text-align: center; 
    padding: 10px 0; 
    position: relative; 
    width: 100%;
    bottom: 0; 
}

.quantityTextBox {
    text-align: left;
    width: 4rem;
}

  
#menuItems .editButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    #menuItems .editButton:hover {
        background-color: #45a049;  
    }

 
#menuItems .deleteButton {
    background-color: #f44336;   
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#menuItems .deleteButton:hover {
    background-color: #d32f2f; 
}
